table {
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    font-size: 14px;
    float:  right;
}

th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

th {
    background-color:white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: white;
}

.movie-title {
    font-size: 12px;
}